# HOME DIR
hi
main.hi

# compiler 
compiler/parser/*.o
compiler/parser/rules.tab.c
compiler/parser/rules.tab.h
compiler/parser/lex.yy.c
compiler/parser/parser.a
compiler/include/*.o
compiler/include/header.a

# Editor
.vscode
